CompileFlags:
  CompilationDatabase: build/clang
  Add: [-std=c++23]

Diagnostics:
  UnusedIncludes: Strict

If:
  PathMatch: '.*\.h'
CompileFlags:
  Add: [-x, c++-header]

Index:
  Background: Yes
  StandardLibrary: Yes